.App {
  .app-content {
    margin: 0 auto;
    height: calc(100vh - 135px);
    background-color:  white;
    padding: 20px 10px;
    width: 90%;
    margin-top: 20px;
    border-radius: 5px;
    padding: 15px;
  }
}